
#metrics {
  width: 95%;
  margin: 20px auto;
}

.box {
  background-color: #1FAAAA;
  height: 200px;
  width: 200px;
  margin: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  float: left;
}

.head {
  padding: 15px;
  font-size: 30px;
  line-height: 35px;
}

.top_margin {
  margin-top: 10px
}

.count {
  font-size: 60px;
}

.diff {
  font-size: 40px;
}
